.z{
    color: #f60000;
    font-size: 70px;
    text-align: center;
    font-kerning: auto;
}
.d{
    color: #de5d5d;
    font-size: 40px;
    text-align: center;
    font-kerning: auto;
}










